body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: auto;
}

header {
    background-color: #25b911;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #555;
    padding: 0.5em 0;
}

ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
}

main {
    padding: 20px;
    margin-bottom: 80px;
}

.cat-section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.cat-section img {
    max-width: 100%;
    width: 250px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.cat-description {
    flex: 1;
}

@media (max-width: 390px) {
    .cat-section {
        flex-direction: column;
    }

    .cat-section img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

footer {
    background-color: rgb(73, 72, 72);
    color: white;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
}