body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: auto;
}

header {
    background-color: #25b911;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #555;
    padding: 0.5em 0;
}

ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
}

main {
    padding: 20px;
    margin-bottom: 80px;
}


.about-section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: space-between;
}

.team-member {
    flex: 1;
    text-align: center;
    margin-bottom: 20px;
}

.team-member img {
    max-width: 40%;
    width: 60%;
    margin: 5px;
}

.member-info {
    width: 100%;
}

.about-description {
    text-align: left;
    padding: 0 10px;
    max-width: 100%;
}

.social-icons {
    text-align: center;
    margin-top: 10px;
}

.social-icons img {
    max-width: 30px;
    margin: 0 5px;
}



footer {
    background-color: rgb(73, 72, 72);
    color: white;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 390px) {
    .about-section img {
        width: 100%;
    }
    .team-member img {
        margin-bottom: 5px;
    }
}